// define colour schemes
$error : red;

// elements
.error {
    p {
        text-align: center;
        font-size: x-large;
        font-weight: bold;
        color: $error;
    }
}

// forms
.card {
    .btn {
        text-align: left;
    }
}
