// define colour schemes
$error : red;

// elements
.error {
    p {
        text-align: center;
        font-size: x-large;
        font-weight: bold;
        color: $error;
    }
}

.col-md-9 {
    h3 {
        text-align: center;
        margin-bottom: 0;
    }
}

// forms
.card {
    .btn {
        text-align: left;
    }
}

