/* sections */
body {
    font-family: sans-serif;
}

.cmx {
    margin-bottom: 3%;
    margin-top: 3%;
}

.col-md-9 {
    padding-left: 0;
}

.col-md-3 {
    padding-left: 0;
}


/* bootstrap and w3schools features */

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {
    height: 18px;
    background-color: #4CAF50;
}

.bar-4 {
    height: 18px;
    background-color: #2196F3;
}

.bar-3 {
    height: 18px;
    background-color: #00bcd4;
}

.bar-2 {
    height: 18px;
    background-color: #ff9800;
}

.bar-1 {
    height: 18px;
    background-color: #f44336;
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {

    .side,
    .middle {
        width: 100%;
    }

    /* Hide the right column on small screens */
    .right {
        display: none;
    }
}

/* star rating adapted from https://www.cssscript.com/five-star-rating-system-with-pure-css-and-radio-button-hack/ & http://code.iamkate.com/html-and-css/star-rating-widget/*/
.rating {
    overflow: hidden;
    vertical-align: bottom;
    display: inline-block;
    width: 7.5em;
    height: 1.5em;
}

.rating>input {
    opacity: 0;
    margin-right: -100%;
}

.rating>label {
    position: relative;
    display: block;
    float: right;
    background: url('images/star-off.svg');
    background-size: contain;
}

.rating>label:before {
    display: block;
    opacity: 0;
    content: '';
    width: 1.5em;
    height: 1.5em;
    background: url('images/star-on.svg');
    background-size: contain;
    transition: opacity 0.2s linear;
}

.rating>label:hover:before,
.rating>label:hover~label:before,
.rating:not(:hover)> :checked~label:before {
    opacity: 1;
}