{% extends 'layout.html' %}

{% block title %}
Book Details
{% endblock %}

{% block main %}

<h1>Book Details</h1>

{% if error == 'yes' %}
<div class="alert alert-danger" role="alert">
    <strong>{{ err }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<h3>{{ book['title'] }}</h3>

{% if api %}
<p>{{ api }}</p>
<hr>
{% endif %}


<form action="{{url_for('search')}}" method="GET">
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Search Again</button>
    </div>
</form>

{% endblock %}