{% extends 'layout.html' %}

{% block title %}
Register
{% endblock %}

{% block main %}

<h1>Registration</h1>

{% if error == 'yes' %}
<div class="alert alert-danger" role="alert">
    <strong>{{ err }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<form action="/register" method="POST">
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label for="firstname">First name:</label>
            <input class="form-control" type="text" placeholder="First Name" name="firstname" autofocus required>
        </div>
        <div class="col-md-6 form-group">
            <label for="surname">Surname:</label>
            <input class="form-control" type="text" placeholder="Surname" name="surname" required>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username:</label>
        <input class="form-control" type="text" placeholder="Username" name="username" required>
    </div>
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label for="password">Password:</label>
            <input class="form-control" type="password" placeholder="Password" name="password" required>
        </div>
        <div class="col-md-6 form-group">
            <label for="confirm">Re-type Password:</label>
            <input class="form-control" type="password" placeholder="Re-type Password" name="confirm" required>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Register Me</button>
    </div>

    {% endblock %}